version: "3.8"

services:
  backend:
    build:
      context: ./backend
    ports:
      - "8000:8000"
    volumes:
      - ./backend/data/uploads:/app/data/uploads

  frontend:
    build:
      context: ./frontend
    ports:
      - "3000:80"